<html>

<%- include("./partials/head") %> 

<body>
    
<%- include("./partials/headerDeslogueado") %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                   
                   

                    <% for( let i = 0; i < posts.length; i++ ) { %>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div class="fotoPerfil">
                                <img src="images/fUsuario/logo.png " alt="">
                            </div>

                            <h4><a href="/detalleUsuario"><%= posts[i].Usuario.nombre %></a></h4>

                        </div>

                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/detallePost/id/<%= posts[i].id %>">
                                <img src="/images/<%= posts[i].foto %>" alt="">
                            </a>

                        </div>

                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between iconos">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>

                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6"><a href="/detalleUsuario"><%= posts[i].nombre %></a></h5>
                                <p class="pieDeFoto"><%= posts[i].pieFoto %></p>
                            </div>

                        </div>
                       
                        <div class="post-comentarios">
                    
                            <h6>Comentarios: <%= posts[i].comentarios.length %></h6>
                            
                            <% for( let j = 0; j < posts[i].comentarios.length; j++ ) { %>
                                <li>
                                    <a class="nombreComentario" href="/detail/user/id/<%= posts[i].id %>"> <%= posts[i].comentarios[j].usuarios.nombre %>: </a>
                                    <p class="comentario"><%= posts[i].comentarios[j].Comentario %></p>
                                </li>
                               
                            <% } %>

                            
                        </div>
                    
                    </article>
                    
                    <% } %>
  
  
       
                </section>
  
            </div>
        </div>
       
    </main>
 
    <%- include("./partials/footer") %> 

</body>

</html>